body {
  margin: 0;
  font-family: Arial,'Arial Black',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: #f7f7f8;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(47, 47, 48);
  border-radius: 12px;
}

.spotify{width:100%; height:100vh; display:flex; flex-direction: column;}
.spot_container{width:100%; height:90%; display:flex}

.spot_footer{width:100%; height:10%; display:flex; background-image: linear-gradient(to right, rgb(179, 61, 137), rgb(41, 224, 221)); justify-content: center; align-items: center;}
.spot_footer_info{ width: 80%;height: 100%; display: flex; flex-direction: column;}
.footer_info_h1{ margin-top: 1%; font-weight: bold; font-size: 14px; color:#fff}
.footer_info_h2{ margin-top: 1%;font-weight: bold;font-size: 15px; color:#fff}

.spot_footer > .spot_nav_link1{width: fit-content; padding:3px 20px 3px 20px; font-weight: bold;}


.spot_menu_cont{width: 18%; height: 100%; background-color:rgb(8, 8, 8); }
.spot_menu{width: 100%; height: 100%; ; display:flex; flex-direction:column}
.spot_logo{width: 100%; height: 10%; }
.spot_logo > img{ width: 140px; height: 40px; margin-top: 9%; margin-left: 8%;}
.spot_menu1{width: 90%; height:20%;display:flex; flex-direction: column; justify-content: flex-end; margin-left: 10%;  margin-top: 2%;}


.spot_menu2{width: 90%; height:20%; margin-top: 10%; margin-left: 10%;display:flex; flex-direction: column;}
.spot_menu3{width: 90%; height:32%; margin-left: 10%;display:flex; flex-direction: column; justify-content: flex-end; }

.spot_link{font-size: 15px; font-weight: bold; color:rgb(176, 174, 174); margin-bottom:9% ; display: flex; align-items: center; cursor: pointer;}
.spot_link > img{width:22px; height: 22px; margin-right: 8%;}
.spot_link:hover{color:#fff}
.spot_link1{font-size: 12px;  color:rgb(151, 148, 148); margin-bottom:4% ; cursor: pointer;}
.spot_link1:hover{text-decoration: underline;}
/* ---------------------------------------------------- */
.spot_body_cont{width: 82%; height:100%; display:flex; flex-direction:column; background-color: rgb(19, 20, 21)}
.spot_nav{width:100%; height:10%; background-color: rgb(15, 16, 17); display:flex; justify-content: center; align-items: center;}
.spot_nav1{width: 42%;display:flex; margin-left: 2%;}
.spot_nav2{width: 35%;display:flex; justify-content: space-evenly; border-right: 1px solid #fff; color: rgb(154, 154, 156); font-size: 17px; font-weight: bold; overflow: hidden;}
.spot_nav3{width:20%;display:flex;justify-content: space-evenly;color: rgb(154,154,156); font-size: 17px; font-weight: bold;  align-items: center;}

.spot_los{ width:40px; height: 40px; border-radius: 50%; background-color: rgb(12, 12, 12); display: flex; justify-content: center; align-items: center; margin-left: 3%;}

.spot_nav_link1{width: 90px; height: 40px; background-color: #fff; border-radius: 30px; display:flex; justify-content: center; align-items: center; color: rgb(25,27,29); cursor: pointer;}

.spot_nav_link{cursor: pointer;}
.spot_nav_link{padding: 0px; margin: 0px;}
.spot_nav_link:hover{color: #fff;font-size: 18px; }
/* .spot_nav_link:hover{color: #fff;font-size: 19px; } */
/* ----------------------------------------------------- */
.spot_body{width: 100%; height:90%; background-color: rgb(19, 20,21); overflow-y: scroll; display:flex; flex-direction: column;}
.spot_body_cont{height: auto; width: 100%;}